extends layout.pug
include utils.pug
block content

  form(action="/users/login" method="post" class=="login-form")
    input(type="hidden" name="_csrf" value=csrfToken)
    +field("email", "", "Email", "email", "email")
    +field("password", "", "Password", "Password", "password")
    button(type="submit" class="login-form__button") Log in
