extends layout.pug
block content
  nav(class="navbar__div")
      div(class="Logo")
        a(href="/projects") LOGO HERE
      div(class="searchbar")
        input(type="text" placeholder="Search...")
      div(class="logout")
        form(method="post" action="/users/logout")
          button(class="logout__button" type="submit") Logout


  block nav
