extends layout.pug
block content
  .navbar__div
    nav(class="nav")
      div(class="logout")
        form(method="post" action="/users/logout")
          button(class="logout__button" type="submit") Logout
  block nav
