extends layout.pug
block content
  nav(class="navbar__div")
    //- h1(class="project-title") Projects All the Way Down
      //- a(href="/projects") LOGO HERE
    div(class="navbar__div-searchbar")
      form(method="post" action="/search" class="search-field")
        input(type="text" name="searchText" placeholder="Search task or projects...")
        button(class="search__button" type="submit")
          i(class="fas fa-search")
        button(class="search-all__button" type="submit" name="findAll" value="%" id="findAll") Find Everything
          i(class="fas fa-search-plus")
    //- img(src="/images/161549906626454634.png" class="bigTurtles" href="/projects")

    img(src="/assets/dragonflies.png" class="dragonFlies" href="/projects")
    div(class="navbar__div-logout")
      form(method="post" action="/users/logout")
        button(class="logout__button" type="submit"): i(class="fas fa-sign-out-alt")
  block nav
