extends task
block tasks
  .noteList__div
    form(action=`/tasks/${id}` method="post")
      input(type="hidden" name="_csrf" value=csrfToken)
      textarea(name="content" class="note-content" placeHolder="Enter comment")
      button(type="submit" class="note-submit-button") Comment
    div(class="comments")
      each note in notes
        div
          p #{note.content}
        button(type="submit" class="note-edit-button") Edit
        button(type="submit" class="note-delete-button") Delete
