extends navbar.pug
append head
  script(src="/javascripts/projectsAPI.js" type="module")
block nav

  div(class="projectList__div")
    div(class="logo-div")
      a(href="/projects")
        img(src="/assets/161549906626454634.png" class="projectTurtles" href="/projects")
      h1(class="logo-text") Projects All the Way Down
    form(action="/projects" method="post" class="project-form")
      h1(class='projectHeader') Projects
      input(type="hidden" name="_csrf" value=csrfToken)
      label(for="projectName")
      input(type="text" id="createNewProject" name="projectName" placeHolder="Create New Project"  class="formField_createProject")
      button(type="submit" class="project-submit-button") Create
    include utils.pug
    if (errors)
      +errorsDiv(errors)
    div(class="projectsTilesContainer")
      each project in projects
        +projectTile(project.name, project.progress, project.id, project.progress >= 100 ? "hundred": "zero")
  block projects
