extends project
include utils.pug
append head
  script(src="/javascripts/tasksAPI.js" type="module")
block projects
  .taskList__div
    include utils.pug
    div(class="projectList__div")
      if (allSearchProjectsResults.length >=1)
        h2 Project Results:
        div(class="projectsTilesContainer")
          each project in allSearchProjectsResults
            +projectTile(project.name, project.progress, project.id)
      if (allSearchTasksResults.length >=1)
        h2 Task Results:
        div(class="searchtaskList__div")
          each task in allSearchTasksResults
            +taskTile(task.name, task.inProgress, task.completed, task.priority, task.id)
      if (allSearchTasksResults.length===0 && allSearchProjectsResults.length===0 )
        h1 NO SEARCH RESULTS
    div(class="bottomLines")
  block projects
