extends layout.pug

block content
  form(action="/users" method="post")
    include utils.pug
    input(type="hidden" name="_csrf" value=csrfToken)
    +field("firstName", user.firstName, "First Name", user.errors ? user.errors.firstName : "First Name", "text")
    +field("lastName", user.lastName, "Last Name", user.errors ? user.errors.lastName : "Last Name", "text")
    +field("email", user.email, "Email", user.errors ? user.errors.email : "email", "email")
    +field("password", "", "Password", user.errors ? user.errors.password : "Password", "password")
    +field("confirmPassword", "", "Confirm Password",  user.errors ? user.errors.confirmPassword : "Confirm Password", "password")
    button(type="submit" class="user-submit-button") Submit

