extends layout.pug

block signup
  .signup__div
    .signup__title
      .logo__div
        .htags__div
          h5 Projects
          h4 all
          h3 the
          h2 way
        .image__container
          .signup__image
        .down__div
          h1 down
    .right-signup__div
      .signupForm__div
        form(action="/users" method="post" class="signup__form")
          include utils.pug
          input(type="hidden" name="_csrf" value=csrfToken)
          +field("firstName", user.firstName, "First Name", errors ? errors.firstName : "First Name", "text", errors.firstName ? "red" : "black")
          +field("lastName", user.lastName, "Last Name", errors ? errors.lastName : "Last Name", "text", errors.lastName ? "red" : "black")
          +field("email", user.email, "Email", errors ? errors.email : "example@email.com", "email", errors.email ? "red" : "black")
          +field("password", "", "Password", errors ? errors.password : "Password", "password", errors.password ? "red" : "black")
          +field("confirmPassword", "", "Confirm Password",  errors ? errors.confirmPassword : "Confirm Password", "password", errors.confirmPassword ? "red" : "black")
          button(type="submit" class="user-submit-button") Sign up!
      .login-link
        .span__div
          span Already have an account?
        .href__div
          a(href="/users/login" class="signup__a") Log in
    .empty__container
