extends project
include utils.pug
append head
  script(src="/javascripts/tasksAPI.js" type="module")
block projects
  .taskList__div
    form(id= projectId class='taskList__form')
      label(for="createNewTask")
      input(type="text" id="createNewTask" name="name" placeHolder="Create New Task" class="formField_createTask")
      select(name="priority")
        option(value=1) 1
        option(value=2) 2
        option(value=3) 3
      button(type="submit" class="user-submit-button") Create New Task
    div(class="tasksContainer")
      each task in tasks
        +taskTile(task.name, task.inProgress, task.completed, task.priority, task.id)
  block tasks
