button {
	background-color: inherit;
	height: 20px;
	width: auto;
	border: none;
	box-shadow: inset 0 0 0 0 #10375c;
	border-radius: 5px;
	outline: none;
	transition: ease-out;
}

button:hover {
	box-shadow: inset 300px 0 0 0 #10375c;
	color: #f4f6ff;
	cursor: pointer;
}

.navbar__div-searchbar button {
	background-color: #f4f4f4;
	height: 20px;
	width: auto;
	border: none;
	box-shadow: inset 0 0 0 0 #ffc816;
	border-radius: 5px;
	outline: none;
	margin: 5px;
	transition: ease-out;
	/* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
}

.navbar__div-searchbar button:hover {
	box-shadow: inset 300px 0 0 0 #ffc816;
	color: #204051;
}

.logout__button {
	margin-right: 50%;
	background-color: #f4f4f4;
	height: auto;
	width: auto;
	border: none;
	box-shadow: inset 0 0 0 0 #ffc816;
	border-radius: 5px;
	outline: none;
	/* margin: 5px; */
	transition: ease-out;
	/* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
}

.logout__button:hover {
	box-shadow: inset 300px 0 0 0 #ffc816;
	color: #204051;
}

.taskList__form .user-submit-button {
	background-color: #dddddd;
}

i {
	padding-left: 1px;
}

/*
button classes
.login-form__button
.logout__button
note-submit-button
user-submit-button
delete__button
edit-button
*/
