body{
    background: linear-gradient(.25turn, #6BB5D2, #89c9b8, #CAE8E8);
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 5% 95%;
    grid-template-areas:
    "navbar navbar navbar"
    "project task notes";
}

.navbar__div {
	grid-area: navbar;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
}

.projectList__div {
    grid-area: project;

}

.taskList__div {
    grid-area: task;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px 1fr;
    grid-template-areas:
    "head"
    "form"
    "tasks";
    /* background-color: whitesmoke; */
    border-radius: 10px;
    padding: 20px;
    height: 100vh;
    background-color: whitesmoke;

}

.taskList__form{
    grid-area: form;
}

.tasksContainer{
    grid-area: tasks;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    width: 100%;
    margin: 20px auto;
    background-image: repeating-linear-gradient(whitesmoke 0px, whitesmoke 24px, teal 25px);

}


.taskHolder {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 10px auto;
}

.noteList__div {
    grid-area: notes;
    /* background-color: #CAE8E8; */
}
