<<<<<<< HEAD

html {
    height: 100%;
    width: 100%;
}
=======
@import url("./buttons.css");
@import url("./projectList.css");
@import url("./navBar.css");
@import url("./tasksStyle.css");
>>>>>>> main

body{
    height: 100%;
    width: 100%;
}

.main__container{
    background: linear-gradient(.25turn, #6BB5D2, #89c9b8, #CAE8E8);
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 50px 1fr;
    grid-template-areas:
    "navbar navbar navbar"
    "project task notes";
<<<<<<< HEAD
    /* background-image: url("/images/161549906626454634.png"); */

}

.navbar__div {
	grid-area: navbar;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    background-color: #204051
}

.project-title{
    color: #FFC816
=======
>>>>>>> main
}

.projectList__div {
    margin-top: 25px;
    grid-area: project;
}


.bigTurtles{    /* clean up the turtles */
    position: relative;
    top: 208px;
    right: -40px;
}
.projectCheckBox {
    align-self: flex-end;
}

.searchList__div, .taskList__div{
    margin-top: 25px;
    grid-area: task;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 50px auto 1fr;
    grid-template-areas:
    "head"
    "form"
    "tasks"
    "bottom";
    /* background-color: whitesmoke; */
    border-radius: 10px;
    padding: 20px;
    height: 100vh;
    background-color: whitesmoke;

}
a {
    text-decoration: none;
    font-size: 20px;
}
.taskList__form{
    grid-area: form;
}
.turtles{       /* clean up the turtles */
    height: 50px;
    width: auto;
}
.taskTurtles{       /* clean up the turtles */
    height: 50px;
    width: auto;
}
.bottomLines {
    grid-area: bottom;
    margin-right: 10%;
    width: 100%;
    background-image: repeating-linear-gradient(whitesmoke 0px, whitesmoke 24px, teal 25px);
}
.searchContainer, .tasksContainer{
    grid-area: tasks;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.projectHolder, .taskHolder  {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* align-items: baseline; */
    margin: auto;
}

.noteList__div {
    grid-area: notes;
    background-repeat: no-repeat;
    background-size: 500px;
}






/* FFC816
    FFD684
    */
