.taskField {
	width: 100%;
	border-bottom: teal 1px solid;
	margin-right: 10%;
	margin-left: 10%;
}

.taskField .taskHolder {
	display: grid;
	width: 100%;
	grid-template-columns: 30px 30px 30px 1fr 30px;
	grid-template-areas: "checkbox inprogress priority taskname delete";
}

.falseInProgress {
	background: red;
	height: 15px;
	width: 15px;
	margin: 2px;
	border: black 1px solid;
	border-radius: 50%;
	z-index: 2;
	grid-area: inprogress;
}
.trueInProgress {
	background: yellow;
	height: 15px;
	width: 15px;
	margin: 2px;
	border: black 1px solid;
	border-radius: 50%;
	z-index: 2;
	grid-area: inprogress;
}

.taskHolder .trueCompleted {
	background: green;
	height: 15px;
	width: 15px;
	margin: 2px;
	border: black 1px solid;
	border-radius: 50%;
	z-index: 1;
}
.taskHolder__priority1 {
	color: rgb(103, 35, 231);
	padding-left: 5px;
	padding-right: 5px;
	grid-area: priority;
}
.taskHolder__priority2 {
	color: rgb(255, 196, 0);
	padding-left: 5px;
	padding-right: 5px;
	grid-area: priority;
}
.taskHolder__priority3 {
	color: rgb(235, 11, 235);
	padding-left: 5px;
	padding-right: 5px;
	grid-area: priority;
}

.taskHolder form {
	grid-area: delete;
	margin-right: 5px;
}
.taskCheckbox {
	grid-area: checkbox;
}
.taskHolder__inProgress {
	grid-area: inprogress;
}
.taskHolder a {
	grid-area: taskname;
}
