.taskField {
	width: 100%;
	border-bottom: teal 1px solid;
	margin-right: 10%;
	margin-left: 10%;
}

.falseInProgress {
	background: red;
	height: 15px;
	width: 15px;
	margin: 2px;
	border: black 1px solid;
	border-radius: 50%;
	z-index: 2;
}
.trueInProgress {
	background: yellow;
	height: 15px;
	width: 15px;
	margin: 2px;
	border: black 1px solid;
	border-radius: 50%;
	z-index: 2;
}

.taskHolder .trueCompleted {
	background: green;
	height: 15px;
	width: 15px;
	margin: 2px;
	border: black 1px solid;
	border-radius: 50%;
	z-index: 1;
}
