
.taskField {
  width: 100%;
  border-bottom: teal 1px solid;
  margin-right: 10%;
  margin-left: 10%;
}

.falseInProgress {
  background: red;
  height: 10px;
  width: 10px;
  margin: 2px;
  border: black 1px solid;
}
.trueInProgress {
  background: green;
  height: 10px;
  width: 10px;
  margin: 2px;
  border: black 1px solid;
}
